---
import TuboSVG from './TuboSVG.astro';
import ProjectLayout from './ProjectLayout.astro';
import * as Lyriks from './projects/Lyriks.md';
import * as Metaversus from './projects/Metaversus.md';
import * as Rapidsurvey from './projects/Rapidsurvey.md';
import * as Tiktik from './projects/Tiktik.md';
import * as Todo from './projects/Todo.md';
---

<section class="mx-auto mt-10 lg:mt-20 xl:mt-28" id="proyectos">
	<div class="flex items-center gap-2">
		<TuboSVG />
		<h2 class="w-fit border-b-2 border-blue-600 text-lg font-bold lg:text-2xl">
			Proyectos
		</h2>
	</div>

	<div class="mx-auto flex flex-col lg:flex-row">
		<ProjectLayout project={Lyriks.frontmatter} />
		<ProjectLayout project={Tiktik.frontmatter} />
	</div>

	<div class="mx-auto flex flex-col lg:flex-row">
		<ProjectLayout project={Metaversus.frontmatter} />
	</div>

	<div class="lg:flex-grow-2 flex flex-col gap-8 lg:flex-row">
		<ProjectLayout project={Rapidsurvey.frontmatter} />
		<ProjectLayout project={Todo.frontmatter} />
	</div>
</section>
<hr class="mx-auto mt-16 hidden w-1/2 border border-neutral-700 lg:block" />
